<html>
    <head>
        <link rel="stylesheet" href="../static/css/mapbox-gl.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="../static/js/mapbox-gl.js"></script>
        <script src="../static/js/map.js"></script>
        <script src="../static/js/players.js"></script>
    </head>
    <body>
        <div class="form">
            <h4>Адресная программа</h4>
            <div class="mapFrame">
                <div id="map-container"></div>
            </div>
            <h4>Желаемое количество рекламных контактов</h4>
            <h4>Период</h4>
            <h4>Дни недели</h4>
            <h4>Часовой интервал</h4>
            <h4>Частота показов в час</h4>
        </div>
        
        <!-- <p>test</p> -->
    </body>
</html>