<html>
    <head>
        {% load static %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script src="{% static "js/mapbox-gl.js" %}"></script>
        <script src="{% static "js/map.js" %}"></script>
        <script src="{% static "js/players.js" %}"></script>

        <link href="{% static "css/mapbox-gl.css" %}" rel="stylesheet" type="text/css" >
        <link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <script>
            ControlPanel({view: $('#control-panel')})
        </script>
        <!-- <p>test</p> -->
    </body>
</html>