<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!--        <script src="../static/js/mapbox-gl.js"></script>-->
<!--        <script src="../static/js/map.js"></script>-->
<!--        <script src="../static/js/players.js"></script>-->

        {% load static %}
        <script src="{% static "js/mapbox-gl.js" %}"></script>
        <script src="{% static "js/map.js" %}"></script>
        <script src="{% static "js/players.js" %}"></script>

        {% load sass_tags %}
<!--        <link rel="stylesheet" href="../static/css/mapbox-gl.css">-->
<!--        <link rel="stylesheet" href="../static/css/index.css">-->
        <link rel="stylesheet" href="{% static "css/mapbox-gl.css" %}">
        <link rel="stylesheet" href="{% static "css/index.sass" %}">

    </head>
    <body>
        <div id="map-container"></div>
        <!-- <p>test</p> -->
    </body>
</html>