<html>

<head>
    <!-- {% load static %} -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="static/js/anime.min.js"></script>
    <script src="static/js/navGraph.js"></script>
    <script src="static/js/easing.js"></script>
    <script src="static/js/mapbox-gl.js"></script>
    <script src="static/js/map.js"></script>
    <script src="static/js/players.js"></script>
    <script src="static/js/turf.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/components.js"></script>
    <script src="static/js/data/repository.js"></script>
    <script src="../static/js/control_panel/index.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="../static/js/control_panel/company-list.js"></script>
    <script src="../static/js/control_panel/add-contract.js"></script>
    <link href="static/css/mapbox-gl.css" rel="stylesheet" type="text/css">
    <link href="static/css/index.css" rel="stylesheet" type="text/css">
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/jquery-ui.min.css" rel="stylesheet" >

</head>

<body>
    <div id="control-panel"></div>
    <script>
        ControlPanel({
            view: $('#control-panel')
        })
    </script>

    <div id="HomeView" title="Главная"></div>
    <div id="CompanyView"></div>
    <div id="AddContract" title="Новый контракт"></div>


    <!-- <p>test</p> -->
</body>

</html>