<html>

<head>
    {% load static %}

    <link href="{% static "css/mapbox-gl.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet" >
    <link href="{% static   "css/index.css" %}" rel="stylesheet"  type="text/css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/mapbox-gl.js" %}"></script>
    <script src="{% static "js/map.js" %}"></script>
    <script src="{% static "js/players.js" %}"></script>
    <script src="{% static "js/components.js" %}"></script>
</head>

<body>
    <div class="form">
        <script>
            NewContractForm($('.form'))
        </script>
    </div>

    <!-- <p>test</p> -->
</body>

</html>