body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #control-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .map .player,
body .map .big-player {
  display: block;
  background: whitesmoke;
  width: 20px;
  aspect-ratio: 4/3;
  border: 1px solid;
  -webkit-box-shadow: 0 0 4px #00000094;
          box-shadow: 0 0 4px #00000094;
  cursor: pointer;
}
body .map .big-player{
    transition: width .3s;
    width: 26px;
}
body .map .big-player:hover,
body .map .big-player.selected{
    width: 30px;
}
body .map .big-player.selected{
    background: blue
}

body .overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
}

body #control-panel .map{
    position: fixed;
    height: 100vh;
    width: 100vw;
}

body .modal-wrapper.hidden:not(:hover){
    transform: translate(-50%, 60px)
}


body .modal-wrapper{
    width: 650px;
    position: absolute;
    left: 50%;
    transition: transform .3s ease-in-out;
    transform: translateX(-50%);
    margin-top: calc(100vh - 100px);
    min-height: 100px;
    background: white;
    box-shadow: 0 0 6px black;
    padding: 16px;
}

body .map .fly-to-nsk{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    background: white;
    z-index: 1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    border-radius: 16px;
    margin: 8px;
    box-shadow: 0 0 4px black;
}
body .map .fly-to-nsk:hover{
    background: aliceblue
}
body .map .fly-to-nsk:active{
    box-shadow: 0 0 6px black
}

body .map .player:hover {
  background: aliceblue;
}

body .map .player.selected {
  background: green;
}

body .modal-wrapper .head{
    position: sticky;
    top: 0;
    //padding: 16px;
    background: white;
    display: flex;
    z-index: 2
}

body .modal-wrapper .head .back i{
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    padding: 0 4px
}
body .modal-wrapper .lock{
    display: none;
    position: absolute;
    width: 100%;
    background: #ffffffa6;
    height: 100%;
    z-index: 3;
    left: 0;
    top: 0;
}

body .modal-wrapper .head .back i:hover{
    background: aliceblue
}

body .modal-wrapper .head p{
    margin: 16px 10px;
    font-size: 18px;
}

.flat-list{
    margin: 0;
    padding: 0;
    list-style: none
}
.flat-list li{
    margin: 0;
    padding: 16px;
    display: flex;
    position: relative
}
.flat-list.selectable li{
    cursor: pointer
}
.flat-list.selectable li:hover{
    background: aliceblue
}
.flat-list.selectable li:active{
    box-shadow: 0 0 2px black
}


body .modal-wrapper > .foot {
    position: sticky;
    bottom: 0;
    margin-top: 4px;
    background: white;
    z-index: 2;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .modal-wrapper > .foot button {
  margin-left: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: gray;
  color: white;
  cursor: pointer;
}

body .modal-wrapper > .foot .bottomButtons{
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .modal-wrapper > .foot button.accept {
  background: green;
}

body .modal-wrapper > .foot button:hover {
  opacity: 0.9;
}

body .form > .foot button:active {
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
}

body .form .slider {
  margin: 0 16px;
}

body .form .schedule-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 8px;
  overflow-y: auto;
}

body .form .schedule-picker div {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}

body .form .schedule-picker div:hover,
body .form .schedule-picker div.hover{
  background: aliceblue;
}

body .form .schedule-picker div.selected {
  background: green;
  color: white;
}

body .form .schedule-picker div.selected + .selected {
  margin-left: -4px;
  padding-left: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body .form .map-frame {
  width: 100%;
  aspect-ratio: 4/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=index.css.map */